<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Configuraciones básicas
</h1>

<% if  @configuration.basepay.present? %>
  <%= @configuration.basepay %>
<% end %>

<% if  @configuration.basepay.present? %>
  <%= @configuration.basepay %>
<% end %>
