<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Configuraciones básicas
</h1>

<%= link_to admin_edit_config_path , :class =>"btn btn-dark pull-right" do%>
  <span class="glyphicon glyphicon-pencil"></span>
  Editar configuraciones
<% end %>

<table class="table table-bordered"  cellspacing="0" >
  <thead>
    <tr>
      <th class="active">Nombre</th>
      <th class="active">Valor</th>
    </tr>
  </thead>

  <tbody>
      <tr>
    		<td>Salaro mínimo</td>
        <td>
    		  <%= @config.basepay %>
        </td>
      </tr>
      <tr>
        <td>Auxilio de transporte</td>
        <td>
          <%= @config.transportAllowance %>
        </td>
      </tr>
  </tbody>
</table>
