<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Configuraciones básicas
</h1>


<table class="table table-bordered"  cellspacing="0" >
  <thead>
    <tr>
      <th class="active">Nombre</th>
      <th class="active">Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr>
		<td> Salario mínimo </td>
		<td>
			<%= @configurations.basepay %>
		</td>
    </tr>
  </tbody>
</table>
